{% extends "base.html" %}

{% block title %} Index Page {% endblock %}

{% block content %}
<h1>Index page</h1>

    <ul>
    {% for person in people %}
        <li>
            {{ person }}
        </li>
    {% endfor %}

    </ul>

    <h3>New person</h3>

    <form action="{{ url_for('index') }}" method="POST">
        <input type="text" name="name" placeholder="name" required="required"><br>
        <input type="number" name="age" placeholder="age"><br>
        <input type="text" name="job" placeholder="job"><br>
        <input type="submit" value="Create">
    </form>

{% endblock %}